services: 
  frontend:
    build: ./client
    ports: 
      - "${CLIENT_PORT}:80"
    networks: 
      - main_network
  
  backend: 
    build: ./backend
    ports: 
      - "${BACKEND_PORT}:8080"
    environment: 
      MONGO_URL: ${MONGO_URL}
      SECRET_KEY: ${SECRET_KEY}
      CLIENT_PORT: ${CLIENT_PORT}
      BACKEND_PORT: ${BACKEND_PORT}
      CLIENT_URL: ${CLIENT_URL}
    depends_on:
      - mongo 
    networks: 
      - main_network
  
  mongo:
    image: mongo:latest 
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - main_network

networks:
  main_network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
  