services: 
  frontend:
    build: ./client
    ports: 
      - "${CLIENT_PORT}:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    networks: 
      - main_network
  
  backend: 
    build: ./backend
    ports: 
      - "${BACKEND_PORT}:8080"
    environment: 
      MONGO_URL: ${MONGO_URL}
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_ACCESS_EXPIRES_IN: ${JWT_ACCESS_EXPIRES_IN}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_REFRESH_EXPIRES_IN: ${JWT_REFRESH_EXPIRES_IN}
      CLIENT_PORT: ${CLIENT_PORT}
      BACKEND_PORT: ${BACKEND_PORT}
      CLIENT_URL: ${CLIENT_URL}
    depends_on:
      - mongo 
    networks: 
      - main_network
    
  worker:
    build: ./backend
    command: npm run worker 
    environment:
      MONGO_URL: ${MONGO_URL}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    depends_on:
      - mongo
      - redis
    networks:
      - main_network

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - main_network
  
  mongo:
    image: mongo:latest 
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - main_network

networks:
  main_network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
  